@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TheSignature";
  src: url("../public/fonts/the-signature.ttf");
}

.transition-all-300 {
  @apply transition-all duration-300;
}

.wrapper {
  @apply max-w-screen-desktop mx-auto;
}

.center-container {
  @apply flex items-center justify-center;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hover-button:hover .chevron-container {
  @apply border-gold;
}

.swiper {
  height: 100%;
}
