@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TheSignature";
  src: url("../public/fonts/the-signature.ttf");
}

.transition-all-300 {
  @apply transition-all duration-300;
}

.wrapper {
  @apply max-w-screen-desktop mx-auto;
}

.center-container {
  @apply flex items-center justify-center;
}
